.st-mp0{
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-cover-center-no-repeat{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.st-section-heading-wrapper{
  width: 100%;
  max-width: 650px;
  text-align: center;
}

.st-hero-content-wrapper{
  width: 100%;
  max-width: 650px;
}

.st-radius5{
  border-radius: 5px !important;
}
.st-radius15{
  border-radius: 15px;
}

.st-white-color,
.st-white-color-hover:hover{
  color: $white;
}
.st-white-bg,
.st-white-bg-hover:hover{
  background-color: $white;
}

.st-black-color,
.st-black-color-hover:hover{
  color: $black;
}
.st-black-bg,
.st-black-bg-hover:hover{
  background-color: $black;
}

.st-primary-color,
.st-primary-color-hover:hover{
  color: $primary;
}
.st-primary-bg,
.st-primary-bg-hover:hover{
  background-color: $primary;
}

.st-secondary-color,
.st-secondary-color-hover:hover{
  color: $secondary;
}
.st-secondary-bg,
.st-secondary-bg-hover:hover{
  background-color: $secondary;
}

.st-accent-color,
.st-accent-color-hover:hover{
  color: $accent;
}
.st-accent-bg,
.st-accent-bg-hover:hover{
  background-color: $accent;
}

// Landing basic
.st-btn{
  padding: 12px 42px;
  display: inline-block;
  text-decoration: none;
  @media screen and (max-width: 575px) {
    padding: 10px 25px;
  }
}
.st-documention{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

