/*--------------------------------------------------------------
3. Margin
----------------------------------------------------------------*/
// margin top
.st-margin-t0 {
  margin-top: 0px;
}

.st-margin-t5 {
  margin-top: 5px;
}

.st-margin-t10 {
  margin-top: 10px;
}

.st-margin-t15 {
  margin-top: 15px;
}

.st-margin-t20 {
  margin-top: 20px;
}

.st-margin-t25 {
  margin-top: 25px;
}

.st-margin-t30 {
  margin-top: 30px;
}

.st-margin-t35 {
  margin-top: 35px;
}

.st-margin-t40 {
  margin-top: 40px;
}

.st-margin-t45 {
  margin-top: 45px;
}

.st-margin-t50 {
  margin-top: 50px;
}

.st-margin-t55 {
  margin-top: 55px;
}

.st-margin-t60 {
  margin-top: 60px;
}

.st-margin-t65 {
  margin-top: 65px;
}

.st-margin-t70 {
  margin-top: 70px;
}

.st-margin-t75 {
  margin-top: 75px;
}

.st-margin-t80 {
  margin-top: 80px;
}

.st-margin-t85 {
  margin-top: 85px;
}

.st-margin-t90 {
  margin-top: 90px;
}

.st-margin-t95 {
  margin-top: 95px;
}

.st-margin-t100 {
  margin-top: 100px;
}

// margin bottom
.st-margin-b0 {
  margin-bottom: 0px;
}

.st-margin-b5 {
  margin-bottom: 5px;
}

.st-margin-b10 {
  margin-bottom: 10px;
}

.st-margin-b15 {
  margin-bottom: 15px;
}

.st-margin-b20 {
  margin-bottom: 20px;
}

.st-margin-b25 {
  margin-bottom: 25px;
}

.st-margin-b30 {
  margin-bottom: 30px;
}

.st-margin-b35 {
  margin-bottom: 35px;
}

.st-margin-b40 {
  margin-bottom: 40px;
}

.st-margin-b45 {
  margin-bottom: 45px;
}

.st-margin-b50 {
  margin-bottom: 50px;
}

.st-margin-b55 {
  margin-bottom: 55px;
}

.st-margin-b60 {
  margin-bottom: 60px;
}

.st-margin-b65 {
  margin-bottom: 65px;
}

.st-margin-b70 {
  margin-bottom: 70px;
}

.st-margin-b75 {
  margin-bottom: 75px;
}

.st-margin-b80 {
  margin-bottom: 80px;
}

.st-margin-b85 {
  margin-bottom: 85px;
}

.st-margin-b90 {
  margin-bottom: 90px;
}

.st-margin-b95 {
  margin-bottom: 95px;
}

.st-margin-b100 {
  margin-bottom: 100px;
}
