// content wrapper
.st-form-wrapper.st-style1 {
  width: 100%;
  max-width: 400px;
}

// checkbox
.st-checkbox.st-style1 {
  display: flex;
  align-items: center;
  input {
    height: 15px !important;
    width: 15px !important;
    margin-right: 5px;
  }
}

.st-social-icons.st-style1 {
  display: flex;
  justify-content: center;
  > a {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}

.st-separator.st-style1 {
  position: relative;
  height: 1px;
  background-color: rgba($black, 0.05);
  &::before {
    position: absolute;
    content: "or";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 0 10px;
    color: $primary;
    font-size: 14px;
    font-weight: 700;
  }
}

// common
.form-group {
  position: relative;
}
input,
button {
  width: 100%;
  border: none;
  outline: none;
}
input[type=password]{
 padding-right: 30px;
}
.input-group-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  z-index: 11;
}
.input-group-icon.st-right {
  left: initial !important;
  right: 0;
  cursor: pointer;
}
.st-showPassword {
  position: relative;
  z-index: 111;
  &::after{
    position: absolute;
    right: inherit;
    top: -10px;
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
  }
  &.active::after{
    content: '\f070';
  }
}

// form style
.st-form.st-style1 {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  transition: all 0.4s ease;
  width: 100%;
  .st-form-top,
  .st-form-bottom {
    padding-left: 50px;
    padding-right: 50px;
  }
  input {
    border: 1px solid #aaaaaa;
    padding-left: 35px;
    &:focus {
      border: 1px solid $accent;
      background-color: rgba($accent, 0.05);
    }
  }
  .input-group-icon {
    left: 10px;
  }
  .st-showPassword {
    right: 5px;
  }
  button {
    transition: all 0.4s ease;
    &:hover {
      background-color: rgba($accent, 0.8);
    }
  }
  .st-forget-password,
  .st-reg-link {
    color: $accent;
    text-decoration: none;
    &:active {
      color: red;
    }
  }
  .st-forget-password {
    margin-bottom: 35px;
    text-align: center;
  }
}
